<a href="/dashboard" class="$active_dashboard">Dashboard</a>
<a href="/income" class="$active_income">Income</a>
<a href="/bills" class="$active_bills">Bills</a>
<a href="/expenses" class="$active_expenses">Spending</a>
<a href="/savings" class="$active_savings">Savings</a>
<a href="/debts" class="$active_debts">Debts</a>
<a href="/notifications" class="$active_notifications">Notifications</a>
<a href="/activity" class="$active_activity">Activity</a>
<a href="/profile" class="$active_profile">Profile</a>
